* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-btn {
    display:none;
    font-size:20px;
    cursor:pointer;
}

.side-menu{
    position:fixed;
    top:0;
    left:-200px;
    width:200px;
    height:100%;
    background: #4BB8FA;
    color:white;
    padding:20px;
    transition:0.3s;
}

.header {
    height: 50px;
    background-color: #4BB8FA;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 50px;
    font-weight: bold;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.section4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.footer {
    height: 50px;
    background-color: #4BB8FA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
}

@media (max width: 576px)
@media (max width: 768px)
@media (max width: 992px)
@media (max width: 1200px)